In [1]:
import pandas as pd
from ecom import utilities
from ecom import transactions
from ecom import products
from ecom import customers
from ecom import operations
from ecom import reports

In [2]:
#Load sample data

In [3]:
transaction_items = utilities.load_sample_data()
print(transaction_items.head())
transaction_items.to_csv("transaction_items.csv")
print()

  order_id     sku                          description  quantity  \
0   536365  85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1   536365   71053                  WHITE METAL LANTERN         6
2   536365  84406B       CREAM CUPID HEARTS COAT HANGER         8
3   536365  84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4   536365  84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           order_date  unit_price  customer_id         country  line_price
0 2010-12-01 08:26:00        2.55      17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00        3.39      17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00        2.75      17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00        3.39      17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00        3.39      17850.0  United Kingdom       20.34

In [4]:
#Create transactions dataframe


transactions = transactions.get_transactions(transaction_items)
print(transactions.head())
transactions.to_csv("transactions.csv")
print()

  order_id          order_date  customer_id  skus  items  revenue  \
0   536365 2010-12-01 08:26:00      17850.0     7     40   139.12
1   536366 2010-12-01 08:28:00      17850.0     2     12    22.20
2   536367 2010-12-01 08:34:00      13047.0    12     83   278.73
3   536368 2010-12-01 08:34:00      13047.0     4     15    70.05
4   536369 2010-12-01 08:35:00      13047.0     1      3    17.85

   replacement  order_number
0            0             1
1            0             2
2            0             1
3            0             2
4            0             3

In [5]:
#Create products dataframe

products_df = products.get_products(transaction_items)
print(products_df.head())
products_df.to_csv("products.csv")
print()

      sku    first_order_date     last_order_date  customers  orders  items  \
0   10002 2010-12-01 08:45:00 2011-04-28 15:05:00         40      73   1037
1   10080 2011-02-27 13:47:00 2011-11-21 17:04:00         19      24    495
2   10120 2010-12-03 11:19:00 2011-12-04 13:15:00         25      29    193
3  10123C 2010-12-03 11:19:00 2011-07-15 15:05:00          3       4    -13
4  10123G 2011-04-08 11:13:00 2011-04-08 11:13:00          0       1    -38

   revenue  avg_unit_price  avg_quantity  avg_revenue  avg_orders  \
0   759.89        1.056849     14.205479    10.409452        1.82
1   119.09        0.376667     20.625000     4.962083        1.26
2    40.53        0.210000      6.433333     1.351000        1.16
3     3.25        0.487500     -3.250000     0.812500        1.33
4     0.00        0.000000    -38.000000     0.000000         inf

   product_tenure  product_recency
0            4530             4382
1            4442             4175
2            4528             4162
3            4528             4304
4            4402             4402

In [6]:
#Create repurchase rates dataframe


repurchase_rates = products.get_repurchase_rates(transaction_items)
print(repurchase_rates.head(3))
repurchase_rates.to_csv("repurchase_rates.csv")
print()

     sku  revenue  items  orders  customers  avg_unit_price  avg_line_price  \
0  10002   759.89   1037      73         40        1.056849       10.409452
1  10080   119.09    495      24         19        0.376667        4.962083
2  10120    40.53    193      29         25        0.210000        1.351000

   avg_items_per_order  avg_items_per_customer  purchased_individually  \
0            14.205479               25.925000                     0.0
1            20.625000               26.052632                     0.0
2             6.655172                7.720000                     9.0

   purchased_once  bulk_purchases  bulk_purchase_rate  repurchases  \
0            34.0            73.0            1.000000         39.0
1            17.0            24.0            1.000000          7.0
2            22.0            20.0            0.689655          7.0

   repurchase_rate repurchase_rate_label bulk_purchase_rate_label  \
0         0.534247   Moderate repurchase           Very high bulk
1         0.291667        Low repurchase           Very high bulk
2         0.241379        Low repurchase                High bulk

            bulk_and_repurchase_label
0  Moderate repurchase_Very high bulk
1       Low repurchase_Very high bulk
2            Low repurchase_High bulk

In [7]:
#Create customers dataframe
 

customers_df = customers.get_customers(transaction_items)
print(customers_df.head())
customers_df.to_csv("customers_df.csv")
print()

   customer_id  revenue  orders  skus  items    first_order_date  \
0      12346.0     0.00       2     1      0 2011-01-18 10:01:00
1      12347.0  4310.00       7     7   2458 2010-12-07 14:57:00
2      12348.0  1797.24       4     4   2341 2010-12-16 19:09:00
3      12349.0  1757.55       1     1    631 2011-11-21 09:51:00
4      12350.0   334.40       1     1    197 2011-02-02 16:01:00

      last_order_date  avg_items  avg_order_value  tenure  recency cohort
0 2011-01-18 10:17:00       0.00             0.00    4482     4482  20111
1 2011-12-07 15:52:00     351.14           615.71    4524     4159  20104
2 2011-09-25 13:13:00     585.25           449.31    4515     4232  20104
3 2011-11-21 09:51:00     631.00          1757.55    4175     4175  20114
4 2011-02-02 16:01:00     197.00           334.40    4467     4467  20111

In [8]:
 #Create cohorts dataframe


cohorts_df = customers.get_cohorts(transaction_items, period='M')
print(cohorts_df.head())
cohorts_df.to_csv("cohorts_df.csv")
print()

    customer_id order_id          order_date acquisition_cohort order_cohort
0       17850.0   536365 2010-12-01 08:26:00            2010-12      2010-12
7       17850.0   536366 2010-12-01 08:28:00            2010-12      2010-12
9       13047.0   536367 2010-12-01 08:34:00            2010-12      2010-12
21      13047.0   536368 2010-12-01 08:34:00            2010-12      2010-12
25      13047.0   536369 2010-12-01 08:35:00            2010-12      2010-12

In [9]:
 #Create cohort matrix dataframe


cohort_matrix_df = customers.get_cohort_matrix(transaction_items, period='M', percentage=True)
print(cohort_matrix_df.head())
cohort_matrix_df.to_csv("cohort_matrix_df.csv")
print()

periods              0         1         2         3         4         5   \
acquisition_cohort
2010-12             1.0  0.381857  0.334388  0.387131  0.359705  0.396624
2011-01             1.0  0.239905  0.282660  0.242280  0.327791  0.299287
2011-02             1.0  0.247368  0.192105  0.278947  0.268421  0.247368
2011-03             1.0  0.190909  0.254545  0.218182  0.231818  0.177273
2011-04             1.0  0.227425  0.220736  0.210702  0.207358  0.237458

periods                   6         7         8         9         10  \
acquisition_cohort
2010-12             0.379747  0.354430  0.354430  0.394515  0.373418
2011-01             0.261283  0.256532  0.311164  0.346793  0.368171
2011-02             0.255263  0.281579  0.257895  0.313158  0.092105
2011-03             0.263636  0.238636  0.288636  0.088636       NaN
2011-04             0.230769  0.260870  0.083612       NaN       NaN

periods                   11        12
acquisition_cohort
2010-12             0.500000  0.274262
2011-01             0.149644       NaN
2011-02                  NaN       NaN
2011-03                  NaN       NaN
2011-04                  NaN       NaN

In [10]:
cohort_matrix_df = customers.get_cohort_matrix(transaction_items, period='M', percentage=False)
print(cohort_matrix_df.head())
cohort_matrix_df.to_csv("cohort_matrix_df.csv")
print()

periods                0      1      2      3      4      5      6      7   \
acquisition_cohort
2010-12             948.0  362.0  317.0  367.0  341.0  376.0  360.0  336.0
2011-01             421.0  101.0  119.0  102.0  138.0  126.0  110.0  108.0
2011-02             380.0   94.0   73.0  106.0  102.0   94.0   97.0  107.0
2011-03             440.0   84.0  112.0   96.0  102.0   78.0  116.0  105.0
2011-04             299.0   68.0   66.0   63.0   62.0   71.0   69.0   78.0

periods                8      9      10     11     12
acquisition_cohort
2010-12             336.0  374.0  354.0  474.0  260.0
2011-01             131.0  146.0  155.0   63.0    NaN
2011-02              98.0  119.0   35.0    NaN    NaN
2011-03             127.0   39.0    NaN    NaN    NaN
2011-04              25.0    NaN    NaN    NaN    NaN

In [11]:
 
 #Create RFM dataframe
 

rfm_df = customers.get_rfm_segments(customers_df)
print(rfm_df.head())
rfm_df.to_csv("rfm_df.csv")
print()

   customer_id    acquisition_date        recency_date  recency  frequency  \
0      12346.0 2011-01-18 10:01:00 2011-01-18 10:17:00     4482          2
1      12350.0 2011-02-02 16:01:00 2011-02-02 16:01:00     4467          1
2      12365.0 2011-02-21 13:51:00 2011-02-21 14:04:00     4448          3
3      12373.0 2011-02-01 13:10:00 2011-02-01 13:10:00     4468          1
4      12377.0 2010-12-20 09:37:00 2011-01-28 15:45:00     4472          2

   monetary  heterogeneity  tenure  r  f  m  h  rfm  rfm_score  \
0      0.00              1    4482  1  1  1  1  111          3
1    334.40              1    4467  1  1  1  1  111          3
2    320.69              2    4448  1  1  1  1  111          3
3    364.60              1    4468  1  1  1  1  111          3
4   1628.12              2    4511  1  1  1  1  111          3

  rfm_segment_name
0            Risky
1            Risky
2            Risky
3            Risky
4            Risky

In [12]:
 #Create latency dataframe
 

latency_df = customers.get_latency(transactions)
print(latency_df.head())
latency_df.to_csv("latency_df.csv")
print()

   customer_id  frequency        recency_date  recency  avg_latency  \
0      12680.0          4 2011-12-09 12:50:00     4157           28
1      13113.0         24 2011-12-09 12:49:00     4157           15
2      15804.0         13 2011-12-09 12:31:00     4157           15
3      13777.0         33 2011-12-09 12:25:00     4157           11
4      17581.0         25 2011-12-09 12:21:00     4157           14

   min_latency  max_latency  std_latency        cv  days_to_next_order  \
0           16           73    30.859898  1.102139             -4098.0
1            0           52    12.060126  0.804008             -4130.0
2            1           39    11.008261  0.733884             -4131.0
3            0           48    12.055274  1.095934             -4134.0
4            0           67    21.974293  1.569592             -4121.0

           label
0  Order overdue
1  Order overdue
2  Order overdue
3  Order overdue
4  Order overdue

In [13]:
 
 #Create customer ABC dataframe
 

abc_df = customers.get_abc_segments(customers_df, months=12, abc_class_name='abc_class_12m', abc_rank_name='abc_rank_12m')
print(abc_df.head())
abc_df.to_csv("abc_df.csv")
print()

   customer_id abc_class_12m  abc_rank_12m
0      12346.0             D           1.0
1      12347.0             D           1.0
2      12348.0             D           1.0
3      12349.0             D           1.0
4      12350.0             D           1.0

In [14]:
 #Create customer predictions dataframe


customer_predictions = customers.get_customer_predictions(transactions,
                                                          observation_period_end='2011-12-09',
                                                          days=90)
print(customer_predictions.head(10))
customer_predictions.to_csv("customer_predictions.csv")
print()

   customer_id  predicted_purchases         aov         clv
0      12346.0             0.188830         NaN         NaN
1      12347.0             1.408736  569.978836  836.846896
2      12348.0             0.805907  333.784235  308.247354
3      12349.0             0.855607         NaN         NaN
4      12350.0             0.196304         NaN         NaN
5      12352.0             1.682277  376.175359  647.826169
6      12353.0             0.272541         NaN         NaN
7      12354.0             0.247183         NaN         NaN
8      12355.0             0.262909         NaN         NaN
9      12356.0             0.645368  324.039419  256.855226

In [15]:
 #Create ABC inventory classification dataframe


inventory_classification = operations.get_inventory_classification(transaction_items, verbose=True)
print(inventory_classification.head())
print(inventory_classification.abc_class.value_counts())
inventory_classification.to_csv("inventory_classification.csv")
print()

         sku abc_class  abc_rank    revenue  revenue_cumsum  revenue_total  \
4059     DOT         A         1  206245.48       206245.48    9747747.934
1348   22423         A         2  164762.19       371007.67    9747747.934
2733   47566         A         3   98302.98       469310.65    9747747.934
3536  85123A         A         4   97894.50       567205.15    9747747.934
3515  85099B         A         5   92356.03       659561.18    9747747.934

      revenue_running_percentage
4059                    2.115827
1348                    3.806086
2733                    4.814555
3536                    5.818833
3515                    6.766293
C    2923
A     736
B     411
Name: abc_class, dtype: int64

In [16]:
 
 #Load customers report
 

df_customers_report = reports.customers_report(transaction_items, frequency='M')
print(df_customers_report.head(13))
df_customers_report.to_csv("df_customers_report.csv")
print()

   year_month  orders  customers  new_customers  returning_customers  \
0     2010-12    2025        948            949                   -1
1     2011-01    1476        783            421                  362
2     2011-02    1393        798            380                  418
3     2011-03    1983       1020            440                  580
4     2011-04    1744        899            299                  600
5     2011-05    2162       1079            279                  800
6     2011-06    2012       1051            235                  816
7     2011-07    1927        993            191                  802
8     2011-08    1737        980            167                  813
9     2011-09    2327       1302            298                 1004
10    2011-10    2637       1425            352                 1073
11    2011-11    3462       1711            321                 1390
12    2011-12    1015        686             41                  645

    acquisition_rate
0             100.11
1              53.77
2              47.62
3              43.14
4              33.26
5              25.86
6              22.36
7              19.23
8              17.04
9              22.89
10             24.70
11             18.76
12              5.98

In [17]:

 #Load transactions report
 

df_orders_report = reports.transactions_report(transaction_items, frequency='M')
print(df_orders_report.head(13))
df_orders_report.to_csv("df_orders_report.csv")
print()

   year_month  customers  orders      revenue   skus   units  avg_order_value  \
0     2010-12        948    2025   748957.020  42481  342228           369.86
1     2011-01        783    1476   560000.260  35147  308966           379.40
2     2011-02        798    1393   498062.650  27707  277989           357.55
3     2011-03       1020    1983   683267.080  36748  351872           344.56
4     2011-04        899    1744   493207.121  29916  289098           282.80
5     2011-05       1079    2162   723333.510  37030  380391           334.57
6     2011-06       1051    2012   691123.120  36874  341623           343.50
7     2011-07        993    1927   681300.111  39518  391116           353.55
8     2011-08        980    1737   682680.510  35284  406199           393.02
9     2011-09       1302    2327  1019687.622  50226  549817           438.20
10    2011-10       1425    2637  1070704.670  60742  570532           406.03
11    2011-11       1711    3462  1461756.250  84711  740286           422.23
12    2011-12        686    1015   433668.010  25525  226333           427.26

    avg_skus_per_order  avg_units_per_order  avg_revenue_per_customer
0                20.98               169.00                    790.04
1                23.81               209.33                    715.20
2                19.89               199.56                    624.14
3                18.53               177.44                    669.87
4                17.15               165.77                    548.62
5                17.13               175.94                    670.37
6                18.33               169.79                    657.59
7                20.51               202.97                    686.10
8                20.31               233.85                    696.61
9                21.58               236.28                    783.17
10               23.03               216.36                    751.37
11               24.47               213.83                    854.33
12               25.15               222.99                    632.17